<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Cadastrar Processo</h1>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Cadastro de Processo</h5>
            <h6 class="card-subtitle text-muted">Preencha os dados do processo</h6>
        </div>

        <div class="card-body">

            <!-- SPINNER -->
            <app-spinner *ngIf="carregando" [show]="true" message="Salvando..."></app-spinner>

            <!-- ALERTAS -->
            <app-alerts *ngIf="!carregando && mensagemSucesso.length" titulo="Sucesso!" [mensagens]="mensagemSucesso"
                tipo="success" icone="fas fa-check-circle">
            </app-alerts>

            <app-alerts *ngIf="!carregando && mensagemErro.length" titulo="Erro!" [mensagens]="mensagemErro"
                tipo="danger" icone="fas fa-times-circle">
            </app-alerts>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- ================= ETIQUETAS ================= -->

                <div class="mb-3">
                    <label class="form-label">Etiquetas</label>

                    <app-etiquetas [etiquetas]="tiposetiquetas" [(selecionadas)]="etiquetasSelecionadas">
                    </app-etiquetas>
                </div>
                <!-- ================= DADOS DO PROCESSO ================= -->
                      
                <div class="row mb-3">
                   
                    <div class="col-md-12">
                        <label class="form-label">Número do Processo *</label>
                        <input class="form-control" formControlName="numeroProcesso" mask="000/000000/0000">
                    </div>
                </div>

                <div class="row mb-3">
                    <!-- CLIENTES -->
                    <div class="col-md-6">
                        <app-autocomplete-pessoa label="REQUERENTE *" placeholder="Digite o nome do REQUERENTE"
                            [resultados]="pessoasFiltradas" [(selecionadas)]="pessoasSelecionadas"
                            (buscar)="buscarPessoas($event)">
                        </app-autocomplete-pessoa>
                    </div>

                    <!-- ENVOLVIDOS -->
                    <div class="col-md-6">
                        <app-autocomplete-pessoa label="Outros" placeholder="Digite o nome do envolvido"
                            [resultados]="envolvidosFiltradas" [(selecionadas)]="envolvidosSelecionados"
                            (buscar)="buscarEnvolvidos($event)">
                        </app-autocomplete-pessoa>
                    </div>
                </div>
          

                <div class="row mb-3">
                 
                    <div class="col-md-4">
                        <label class="form-label">Tipo do Processo *</label>

                        <select class="form-select" formControlName="tipoProcesso">

                            <option [ngValue]="null">Selecione</option>

                            <option [ngValue]="1">URGENTE</option>
                            <option [ngValue]="2">PEDIDO</option>
                            <option [ngValue]="3">RETORNO DO GABINETE</option>
                            <option [ngValue]="4">RETORNO CORREÇÃO</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">
                            Localização Inicial * 
                        </label>

                        <select class="form-select" formControlName="localizacaoInicialId">

                            <option [ngValue]="null">
                                Selecione
                            </option>

                            <option *ngFor="let l of locais" [ngValue]="l.id">

                                {{ l.local }}

                            </option>

                        </select>
                    </div>
                            <div class="col-md-4">
                        <label class="form-label">Responsável *</label>
                        <select class="form-control" formControlName="usuarioResponsavelId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let user of responsaveis" [ngValue]="user.id">
                                {{ user.nomeUsuario }}
                            </option>
                        </select>
                    </div>
                </div>

<div class="col-md-6 mb-3">
  <label class="form-label">
    Estagiário responsável
  </label>

  <select
    class="form-select"
    formControlName="estagiarioResponsavelId">

    <option [ngValue]="null">
      Selecione
    </option>

    <option
      *ngFor="let estagiario of estagiarios"
      [ngValue]="estagiario.id">

      {{ estagiario.nomeUsuario }}
      <span *ngIf="estagiario.login">
        - {{ estagiario.login }}
      </span>

    </option>

  </select>
</div><div formArrayName="documentos">

  <div
    *ngFor="
      let documento of documentos.controls;
      let i = index
    "
    [formGroupName]="i"
    class="row align-items-end mb-3">

    <div class="col-md-5">
      <label class="form-label">
        Tipo de documento *
      </label>

      <select
        class="form-select"
        formControlName="tipoDocumento">

        <option [ngValue]="null">
          Selecione
        </option>

        <option
          *ngFor="
            let tipo of tiposDocumentos
          "
          [ngValue]="tipo.id">

          {{ tipo.nome }}

        </option>

      </select>

      <div
        *ngIf="
          documentoInvalido(
            i,
            'tipoDocumento'
          )
        "
        class="text-danger">

        Selecione o tipo do documento.

      </div>
    </div>

    <div class="col-md-5">
      <label class="form-label">
        Número do documento *
      </label>

      <input
        type="text"
        class="form-control"
        formControlName="numeroDocumento"
        placeholder="Informe o número" />

      <div
        *ngIf="
          documentoInvalido(
            i,
            'numeroDocumento'
          )
        "
        class="text-danger">

        Informe o número do documento.

      </div>
    </div>

    <div class="col-md-2">
    <div class="col-md-2 d-flex justify-content-end">

    <button
        type="button"
        class="btn btn-sm btn-outline-danger rounded-circle"
        (click)="removerDocumento(i)"
        title="Excluir">

        <i class="fas fa-trash"></i>

    </button>

</div>
    </div>

  </div>

</div>

<button
    type="button"
    class="btn btn-primary btn-sm px-3  shadow-sm"
    (click)="adicionarDocumento()">

    <i class="fas fa-plus me-2"></i>
    Adicionar documento

</button>
            <div class="row mb-3">
    <div class="col-md-12">
        <label class="form-label">
            Observação (mínimo 20 caracteres)
        </label>

        <textarea
            class="form-control"
            rows="3"
            formControlName="observacao">
        </textarea>

        <small
            class="text-danger"
            *ngIf="form.get('observacao')?.touched &&
                   form.get('observacao')?.errors?.['required']">
            A observação é obrigatória.
        </small>

        <small
            class="text-danger"
            *ngIf="form.get('observacao')?.touched &&
                   form.get('observacao')?.errors?.['minlength']">
            A observação deve ter no mínimo 20 caracteres.
        </small>

    </div>
</div>

               

                <!-- BOTÃO -->
                <button type="submit" class="btn btn-primary" [disabled]="!podeEnviar || carregando">

                    <i class="align-middle me-2 fas fa-save fa-lg"></i>
                    Salvar Processo

                </button>

            </form>

        </div>
    </div>
</div>