<div class="auth-full-page d-flex">
  <div class="auth-form p-3">

    <div class="text-center">

      <!-- Logo -->
      <div class="logo-container">
        <app-logo-animada tamanho="pequena"></app-logo-animada>
      </div>

      <!-- Texto animado -->
      <div class="texto-container">
        <app-texto-deslandes-animado
          frase="Cidat - Sistema de Controle de Processos">
        </app-texto-deslandes-animado>
      </div>

    </div>

    <div class="mb-3">

      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="user">

        <!-- LOGIN -->
        <div class="mb-3">
          <label class="form-label">Email ou Login</label>

          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Entre com seu E-mail ou Login"
            formControlName="login">
        </div>

        <div
          class="text-danger mt-1"
          *ngIf="form.get('login')?.touched && form.get('login')?.invalid">

          Login é obrigatório.
        </div>

        <!-- SENHA -->
        <div class="mb-3 mt-3">
          <label class="form-label">Senha</label>

          <input
            class="form-control form-control-lg"
            type="password"
            placeholder="Entre com sua senha"
            formControlName="senha">
        </div>

        <div
          class="text-danger mt-1"
          *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid">

          Senha é obrigatória.
        </div>

        <!-- BOTÃO -->
        <div class="d-grid gap-2 mt-4">
          <input
            type="submit"
            class="btn btn-lg btn-primary"
            value="Acessar Sistema"
            [disabled]="carregando">
        </div>

      </form>

      <!-- SPINNER -->
      <div class="mt-3" *ngIf="carregando">
        <app-spinner
          [show]="true"
          message="Autenticando usuário...">
        </app-spinner>
      </div>

      <!-- SUCESSO -->
      <div class="mt-3" *ngIf="mensagemSucesso.length > 0">

        <app-alerts
          titulo="Autenticação"
          [mensagens]="mensagemSucesso"
          tipo="success"
          icone="fas fa-fw fa-laugh-beam fa-2x">
        </app-alerts>

      </div>

      <!-- ERRO -->
      <div class="mt-3" *ngIf="mensagemErro.length > 0">

        <app-alerts
          titulo="Erro!"
          [mensagens]="mensagemErro"
          tipo="danger"
          icone="fas fa-times-circle fa-lg">
        </app-alerts>

      </div>

    </div>

    <p class="text-center mt-3">
      Copyright © ALBI TECNOLOGIA {{ anoAtual }}
      Todos os Direitos Reservados.
    </p>

  </div>
</div>