<div class="container-fluid">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <h3>Procon Duque de Caxias</h3>
    </div>

    <div class="col-auto ms-auto text-end mt-n1">

      <div class="dropdown me-2 d-inline-block position-relative">
        <div class="dropdown-menu dropdown-menu-end">
          <h6 class="dropdown-header">Settings</h6>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">Bem-vindo(a), <strong>{{ nomeUsuario }}</strong><br></h3>
           
              <div class="mb-0">
              </div>
            </div>
            <div class="d-inline-block ms-3">
             <div class="stat bg-primary">
                <i class="align-middle text-white fas fa-user align-middle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">Total de Processos: <strong>{{ totalProcessos }}</strong><br></h3>
              <p class="mb-2">Em {{ currentYear }} um total de: {{ totalProcessosAnoAtual }}<span
                  class="badge bg-success">
                </span></p>
              <div class="mb-0">
              </div>
            </div>
            <div class="d-inline-block ms-3">
               <div class="stat bg-success">
                <i class="align-middle text-white fas fa-balance-scale align-middle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">Total de Atendimentos: <strong>{{ totalAtendimento }}</strong><br></h3>
              <p class="mb-2">Em {{ currentYear }} um total de: {{ totalAtendimentoAnoAtual }}<span
                  class="badge bg-danger">
                </span></p>
              <div class="mb-0">
              </div>
            </div>
            <div class="d-inline-block ms-3">
                <div class="stat bg-danger">
                <i class="align-middle text-white fas fa-fw fa-bullhorn"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">Total de Casos: <strong>{{ totalCaso }}</strong><br></h3>
              <p class="mb-2">Em {{ currentYear }} um total de: {{ totalCasosAnoAtual }}<span class="badge bg-info">
                </span></p>

              <div class="mb-0">

              </div>
            </div>
            <div class="d-inline-block ms-3">
                <div class="stat bg-info">
                <i class="align-middle text-white fas fa-fw fa-users-cog"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- 🔔 LEMBRETES -->
<div class="col-12 col-lg-12 d-flex">

  <div class="card flex-fill w-100">

    <!-- HEADER -->
    <div class="card-header">

      <div class="card-actions float-end">

        <span
          class="badge bg-primary">

          {{ lembretes?.length || 0 }}

        </span>

      </div>

      <h5 class="card-title mb-0">

        Lembretes e Pendências

      </h5>

    </div>

    <!-- CARD BODY -->
    <div class="card-body p-0">

      <!-- SEM DADOS -->
      <div
        *ngIf="!lembretes?.length"
        class="p-4 text-center text-muted">

        Nenhum lembrete encontrado

      </div>

      <!-- TABELA -->
      <table
        class="table table-hover table-striped mb-0"
        *ngIf="lembretes?.length">

        <thead>

          <tr>

            <th>Tipo</th>

            <th>Título</th>

           

            <th>Data</th>
<th>Responsáveis</th>
            <th class="text-end">
              Ações
            </th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let item of lembretes">

            <!-- TIPO -->
            <td class="align-middle">

              <!-- EVENTO -->
              <span
                *ngIf="item.tipo === 'Evento'"
                class="badge bg-primary">

                <i class="fas fa-calendar me-1"></i>
                Evento

              </span>

              <!-- TAREFA -->
              <span
                *ngIf="item.tipo === 'Tarefa'"
                class="badge bg-success">

                <i class="fas fa-tasks me-1"></i>
                Tarefa

              </span>

            </td>

            <!-- TITULO -->
            <td class="align-middle">

              <div class="fw-semibold">

                {{ item.titulo }}

              </div>

              <!-- BADGES -->
              <div class="mt-1">

                <span
                  *ngIf="item.recorrente"
                  class="badge bg-info me-1">

                  Recorrente

                </span>

                <span
                  *ngIf="item.diaInteiro"
                  class="badge bg-dark">

                  Dia inteiro

                </span>

              </div>

            </td>

            <!-- CATEGORIA -->
         

            <!-- DATA -->
            <td class="align-middle text-nowrap">

              <i class="fas fa-clock me-1 text-muted"></i>

              {{ item.data | date:'dd/MM/yyyy' }}
       <span
                class="badge"
                [ngClass]="{
                  'bg-success': item.categoria === 'Hoje',
                  'bg-warning text-dark': item.categoria === 'Amanhã',
                  'bg-primary': item.categoria === 'Próximos'
                }">

                {{ item.categoria }}

              </span>
            </td>
<td class="align-middle">

  <ng-container *ngIf="item.responsaveis?.length">

    <!-- PRIMEIRO -->
    <span>

      {{ item.responsaveis[0] }}

    </span>

    <!-- +X -->
    <div
      *ngIf="item.responsaveis.length > 1"
      class="d-inline-block ms-2 dropdown">

      <button
        class="btn btn-sm btn-outline-primary rounded-pill py-0 px-2 dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown">

        +{{ item.responsaveis.length - 1 }}

      </button>

      <!-- DROPDOWN -->
      <ul class="dropdown-menu shadow border-0">

        <li
          *ngFor="let r of item.responsaveis.slice(1)">

          <span class="dropdown-item small">

            {{ r }}

          </span>

        </li>

      </ul>

    </div>

  </ng-container>

  <span
    *ngIf="!item.responsaveis?.length"
    class="text-muted">

    Nenhum

  </span>

</td>
            <!-- AÇÕES -->
            <td class="text-end align-middle">

              <a
                [routerLink]="obterLinkLembrete(item)"
                class="btn btn-sm btn-outline-primary rounded-pill">

                <i class="fas fa-eye me-1"></i>

                Abrir

              </a>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
  </div>
  <div class="row">
    <!-- TABELA -->
    <div class="col-12 col-lg-8 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                <i class="align-middle" data-lucide="more-horizontal"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <h5 class="card-title mb-0">5 Últimos Processos em {{currentYear}}</h5>
        </div>
        <div class="card flex-fill">




          <!-- SEM DADOS -->
          <div *ngIf="!consultaProcesso?.length" class="p-3 text-center text-muted">
            Nenhum processo encontrado
          </div>
          <!-- <h2>STATUS: {{ consultaProcesso?.length }}</h2>-->


          <!-- TABELA -->
          <table class="table table-striped mb-0 " *ngIf="consultaProcesso?.length">

            <thead>
              <tr>
                <th>Pasta</th>
                <th>Número</th>

                <th>Cliente</th>

                <th class="text-end">Ações</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let processo of consultaProcesso; trackBy: trackById">

                <td class="align-middle">

                  <!-- TEXTO RESUMIDO -->
                  <span>
                    {{ limitarTexto(processo?.pasta ?? '', 30) }}
                  </span>

                  <!-- BOTÃO VER MAIS -->
                  <div *ngIf="precisaVerMais(processo?.pasta, 50)" class="d-inline-block ms-2 dropdown">

                    <button class="btn btn-sm btn-outline-primary rounded-pill py-0 px-2 dropdown-toggle" type="button"
                      data-bs-toggle="dropdown" aria-expanded="false">

                      Ver mais

                    </button>

                    <!-- DROPDOWN -->
                    <div class="dropdown-menu p-3 shadow border-0"
                      style="min-width: 400px; max-width: 600px; white-space: normal;">

                      <div class="small text-muted mb-1">
                        Pasta completa
                      </div>

                      <div>
                        {{ processo?.pasta }}
                      </div>

                    </div>

                  </div>

                </td>
                <td>{{ processo?.numeroProcesso }}</td>


                <!-- CLIENTES -->
                <td class="text-nowrap position-relative">

                  <ng-container *ngIf="processo?.grupoClientesProcesso as clientes">

                    <ng-container *ngIf="(clientes?.length ?? 0) > 0; else semCliente">

                      <!-- CLIENTE PRINCIPAL -->
                      <span>
                        {{ clientes[0]?.nome ?? 'Sem nome' }}
                      </span>

                      <!-- BOTÃO -->
                      <div *ngIf="clientes.length > 1" class="d-inline-block ms-2 dropdown">

                        <button class="btn btn-sm btn-outline-primary rounded-pill py-0 px-2 dropdown-toggle"
                          type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-users me-1"></i>
                          +{{ clientes.length - 1 }}

                        </button>

                        <!-- DROPDOWN -->
                        <ul class="dropdown-menu shadow border-0">

                          <li *ngFor="let c of clientes.slice(1)">

                            <span class="dropdown-item small">
                              {{ c.nome }}
                            </span>

                          </li>

                        </ul>

                      </div>

                    </ng-container>

                  </ng-container>

                  <ng-template #semCliente>
                    <span class="text-muted">Nenhum</span>
                  </ng-template>

                </td>

                <!-- ENVOLVIDOS -->


                <!-- AÇÕES -->
                <td class="text-end">
                  <a [routerLink]="['/admin/editar-processo', processo?.id]" class="me-2">
                    <i class="fas fa-pencil-alt"></i>
                  </a>

                  <a [href]="urlBase + '/api/processo/export-pdf?codigo=' + processo?.id" target="_blank">
                    <i class="fas fa-print"></i>
                  </a>
                </td>

              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                <i class="align-middle" data-lucide="more-horizontal"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <h5 class="card-title mb-0">5 Últimas Tarefas</h5>
        </div>

        <div class="card-body">

          <ul *ngFor="let tarefa of consultarTarefas" class="timeline">
            <li class="timeline-item">

              <!-- TOPO: DESCRIÇÃO + STATUS -->
              <div class="d-flex justify-content-between align-items-center mb-2">

                <span class="badge rounded-pill badge-subtle-primary">
                  <strong>{{ tarefa.descricao }}</strong>
                </span>

                <span class="badge" [ngClass]="{
    'badge-subtle-primary': tarefa.statusGeralKanban === 1,
    'badge-subtle-warning': tarefa.statusGeralKanban === 2,
    'badge-subtle-success': tarefa.statusGeralKanban === 3,
    'badge-subtle-danger': tarefa.statusGeralKanban === 4
  }">

                  {{ statusKanbanMap[tarefa.statusGeralKanban] }}

                </span>

              </div>

              <!-- PRIORIDADE -->
              <div class="d-flex align-items-center gap-2">

                <strong>Prioridade:</strong>

                <span class="badge" [ngClass]="{
      'badge-subtle-success': tarefa.prioridade === 1,
      'badge-subtle-warning': tarefa.prioridade === 2,
      'badge-subtle-danger': tarefa.prioridade === 3,
      'badge-subtle-dark': tarefa.prioridade === 4
    }">

                  {{ prioridadeMap[tarefa.prioridade] ?? 'Indefinida' }}

                </span>



              </div>

            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 col-xl-4 d-none d-xl-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                <i class="align-middle" data-lucide="more-horizontal"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <h5 class="card-title mb-0">Atendimentos em {{currentYear}}</h5>
        </div>
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <app-graficoAtendimento></app-graficoAtendimento>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">

          <h5 class="card-title mb-0">Processos em {{currentYear}}</h5>
        </div>
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <app-graficoProcesso></app-graficoProcesso>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                <i class="align-middle" data-lucide="more-horizontal"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <h5 class="card-title mb-0">Casos em {{currentYear}}</h5>
        </div>
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <app-graficoCaso></app-graficoCaso>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>