<nav id="sidebar" class="sidebar">
	<div class="sidebar-content js-simplebar">
		<a class='sidebar-brand' href='admin/painel-principal'>
			<img src="assets/appdeslandes/img/deslandes_icon.png" alt="Logo Deslandes" class="">

			<span class="align-middle me-3"></span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Menu
			</li>



			<li class="sidebar-item" *ngIf="access.hasNivel('Administrador','Administração','Super Administrador', 'Coordenador',
	'Estagiários', 'Supervisor','Conciliador')">
				<a data-bs-target="#atividades" data-bs-toggle="collapse" class="sidebar-link collapsed">

					<i class="fas fa-columns align-middle"></i> <span class="align-middle">Atividades</span>


				</a>
				<ul id="atividades" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'gestao-atividades']">
							Quadro de Atividades
						</a>
					</li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'agenda']">
							Agenda</a></li>
				</ul>
			</li>

			<li class="sidebar-item" *ngIf="access.hasNivel('Administrador','Administração','Super Administrador', 'Coordenador',
	'Estagiários', 'Supervisor','Conciliador')">
				<a data-bs-target="#pessoas" data-bs-toggle="collapse" class="sidebar-link collapsed">

					<i class="fas fa-users align-middle"></i> <span class="align-middle">Contatos</span>


				</a>
				<ul id="pessoas" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'cadastrar-pessoas']">
							Cadastrar
						</a></li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'consultar-pessoas']">
							Consultar</a></li>
				</ul>
			</li>


			<li class="sidebar-item" *ngIf="access.hasNivel('Administrador','Administração','Super Administrador', 'Coordenador',
	'Estagiários', 'Supervisor','Conciliador')">
				<a data-bs-target="#processo" data-bs-toggle="collapse" class="sidebar-link collapsed">

					<i class="fas fa-balance-scale align-middle"></i> <span class="align-middle">Processos</span>


				</a>
				<ul id="processo" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'cadastrar-processo']">
							Cadastrar
						</a></li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'consultar-processo']">
							Consultar</a></li>
				</ul>
			</li>
			<li class="sidebar-item" *ngIf="access.hasNivel('Administrador','Administração','Super Administrador', 'Coordenador',
	'Estagiários', 'Supervisor','Conciliador')">
				<a data-bs-target="#atendimento" data-bs-toggle="collapse" class="sidebar-link collapsed">

					<i class="fas fa-headset align-middle"></i> <span class="align-middle">Atendimento</span>


				</a>
				<ul id="atendimento" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'cadastrar-atendimento']">
							Cadastrar
						</a></li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'consultar-atendimento']">
							Consultar</a></li>
				</ul>
			</li>
			<li class="sidebar-item" *ngIf="access.hasNivel('Administrador','Administração','Super Administrador', 'Coordenador',
	'Estagiários', 'Supervisor','Conciliador')">
				<a data-bs-target="#tarefa" data-bs-toggle="collapse" class="sidebar-link collapsed">

					<i class="fas fa-tasks align-middle"></i> <span class="align-middle">Tarefa</span>


				</a>
				<ul id="tarefa" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'cadastrar-tarefa']">
							Cadastrar
						</a></li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'consultar-tarefa']">
							Consultar</a></li>
				</ul>
			</li>
			<li class="sidebar-item" *ngIf="access.hasNivel('Administrador','Administração','Super Administrador', 'Coordenador',
	'Estagiários', 'Supervisor','Conciliador')">
				<a data-bs-target="#evento" data-bs-toggle="collapse" class="sidebar-link collapsed">

					<i class="fas fa-calendar-alt align-middle"></i> <span class="align-middle">Evento</span>


				</a>
				<ul id="evento" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'cadastrar-evento']">
							Cadastrar
						</a></li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'consultar-evento']">
							Consultar</a></li>
						
				</ul>
			</li>

			<li class="sidebar-item" *ngIf="access.hasNivel('Administrador','Administração','Super Administrador', 'Coordenador',
	'Estagiários', 'Supervisor','Conciliador')">
				<a data-bs-target="#caso" data-bs-toggle="collapse" class="sidebar-link collapsed">

					<i class="fas fa-folder-open align-middle"></i><span class="align-middle">Caso</span>


				</a>
				<ul id="caso" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#caz">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'cadastrar-caso']">
							Cadastrar
						</a></li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'consultar-caso']">
							Consultar</a></li>
				</ul>
			</li>

			<!-- Múltiplos níveis -->

			<li class="sidebar-item" *ngIf="access.hasNivel('Super Administrador','Administrador')">
				<a data-bs-target="#usuario" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="fas fa-users align-middle"></i><span class="align-middle">Usuários</span>

				</a>
				<ul id="usuario" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'criar-usuario']">
							Cadastrar Usuário
						</a></li>
					<li class="sidebar-item"><a class='sidebar-link' [routerLink]="['/admin', 'consultar-usuarios']">
							Consultar Usuário</a></li>


				</ul>

			</li>

			<li class="sidebar-item"><a class="sidebar-link collapsed" [routerLink]="['/admin', 'perfil']">
					<i class="fas fa-user align-middle"></i><span class="align-middle">Perfil</span>
				</a></li>
			<li class="sidebar-item">
				<a class="sidebar-link collapsed" href="#" (click)="logout()">
					<i class="fa-solid fa-right-from-bracket me-2"></i>
					<span class="align-middle">Sair do sistema</span>
				</a>
			</li>



		</ul>
	</div>
</nav>