<div class="container-fluid p-0">

  <h1 class="h3 mb-3">Página não encontrada</h1>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">
            Desculpe, a página que você está procurando não existe.
          </h5>
        </div>
        <div class="card-body">
          <!-- Pode colocar um botão de voltar, por exemplo -->
          <a routerLink="/" class="btn btn-primary">Voltar para o Início</a>
        </div>
      </div>
    </div>
  </div>

</div>
