/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*@import 'datatables.net-dt/css/jquery.dataTables.css';*/

.tooltip .tooltip-inner {
    background-color: #1e293b !important;
    color: #d51b1b !important;
    border-radius: 10px !important;
    padding: 8px 12px !important;
    font-size: 0.85rem !important;
    font-weight: 600 !important;
    box-shadow: 0 8px 20px rgba(0,0,0,.2) !important;
}

.tooltip .tooltip-arrow::before {
    border-top-color: #1e293b !important;
}